h1 {
    color: #fff;
    font-family: "Merriweather";
    font-size: 250%;
}

html, body {
    width: 100%;
    
}

body {
    background-size: cover;
    background-image: url('ncat_nsbe2.jpg');
    background-repeat: no-repeat;
}