h1 {
    color: #00c;
    font-family: "Merriweather";
    font-size: 250%;
}

html, body {
    width: 100%;
}

table {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

input, select {
    border-radius: 4px;
}

.header {
     background-color: #ccc;
}

.member-form {

}
