<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <form action="action.js">
    <table border=1dp>
      <tr>
        <th>First Name:</th>
        <th><input type="text" name="firstname"></th>
      </tr>
      <tr>
        <th>Last Name:</th>
        <th><input type="text" name="lastname"></th>
      </tr>
      <tr>
        <th>Major:</th>
        <th>
          <select>
            <option type="checkbox" name="major" id="archEng">Architectural Engineering</option>
            <option type="checkbox" name="major" id="bioEng">Biological Engineering</option>>
            <option type="checkbox" name="major" id="biomedEng">Biomedical Engineering</option>>
            <option type="checkbox" name="major" id="chemEng">Chemical Engineering</option>>
            <option type="checkbox" name="major" id="civEng">Civil Engineering</option>>
            <option type="checkbox" name="major" id="compEng">Computer Engineering</option>>
            <option type="checkbox" name="major" id="compSci">Computer Science</option>>
            <option type="checkbox" name="major" id="elecEng">Electrical Engineering</option>>
            <option type="checkbox" name="major" id="indEng">Industrial Engineering</option>>
            <option type="checkbox" name="major" id="mechEng">Mechanical Engineering</option>>
            <option type="checkbox" name="major" id="other">Other</option>
          </select>
        </th>
      </tr>
      <tr>
        <th>Classification:</th>
        <th>
          <input type="radio" name="classification" id="freshman">Freshman<br>
          <input type="radio" name="classification" id="sophomore">Sophomore<br>
          <input type="radio" name="classification" id="junior">Junior<br>
          <input type="radio" name="classification" id="senior">Senior<br>
          <input type="radio" name="classification" id="gradStudent">Graduate Student<br>
          <input type="radio" name="classification" id="graduate">Graduate<br>
        </th>
      </tr>
      <tr>
        <th>Email:</th>
        <th><input type="text" name="email"></th>
      </tr>
      <tr>
        <th>Slack:</th>
        <th>
          <input type="radio" name="slack" id="yes">Yes<br>
          <input type="radio" name="slack" id="no">No<br>
          <input type="radio" name="slack" id="alreadyIn">Already in Slack<br>
        </th>
      </tr>
    </table>
    <input type="submit" value="Submit">  
  </form>
</div>


